.title {
  margin-top: 4rem;
}

.mtop {
  margin-top: 2rem;
}

@media screen and (min-width: 500px) {
  .container {
    max-width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 60%;
    margin: auto;
  }
}
