.container {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 900px) {
  .container {
    padding-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* NAV */

.nav {
  position: absolute;
  top: 0rem;
  right: auto;
  left: auto;
}

@media screen and (min-width: 900px) {
  .nav {
    top: 0rem;
    right: 2rem;
  }
}

/* LOGO */

.logoContainer {
  max-width: 200px;
  padding: 1rem;
}

@media screen and (min-width: 420px) {
  .logoContainer {
    max-width: 300px;
  }
}

@media screen and (min-width: 444px) {
  .container {
    padding-top: 6rem;
  }
}

/* HEADER TEXT */

.headerTextContainer {
  /* align-self: flex-end; */
  margin-top: 2rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
}

.accentTitle {
  color: var(--col-orange);
}

.subtitle {
  font-size: 1.8rem;
}

@media screen and (min-width: 420px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 550px) {
  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .headerTextContainer {
    max-width: 430px;
  }
}

@media screen and (min-width: 900px) {
  .headerTextContainer {
    flex-grow: 1;
    margin-top: 0rem;
    margin-left: 1rem;
    text-align: left;
    max-width: 100%;
  }

  .title {
    font-size: 6rem;
  }

  .subtitle {
    max-width: 500px;
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1100px) {
  .headerTextContainer {
    margin-left: 4rem;
  }

  .subtitle {
    max-width: 580px;
  }
}

/* SUBSCRIBE LIST */

.subscriptionList {
  margin: 4rem 0rem 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttonList {
  margin-top: 2rem;
}

.subscribeDropDownTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--col-grey-2);
  border-radius: 5px;
  padding: 1rem 0rem;
  width: 260px;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}

@media screen and (min-width: 550px) {
  .subscribeDropDownTextContainer {
    display: none;
  }

  .invisible {
    display: flex;
  }

  .buttonList {
    margin-top: 0rem;
  }
}

@media screen and (min-width: 900px) {
  .subscriptionList {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1100px) {
  .subscriptionList {
    padding: 0px;
  }
}
