.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* LOGO */

.logoContainer {
  max-width: 200px;
  padding: 1rem;
}

@media screen and (min-width: 420px) {
  .logoContainer {
    max-width: 300px;
  }
}

/* HEADER TEXT */

.headerTextContainer {
  /* align-self: flex-end; */
  margin-top: 2rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
}

.accentTitle {
  color: var(--col-orange);
}

.subtitle {
  font-size: 1.6rem;
}

@media screen and (min-width: 420px) {
  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 550px) {
  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 900px) {
  .headerTextContainer {
    flex-grow: 1;
    margin-top: 0rem;
    margin-left: 1rem;
    text-align: left;
  }

  .title {
    font-size: 6rem;
  }

  .subtitle {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1100px) {
  .headerTextContainer {
    margin-left: 4rem;
  }
}

/* SUBSCRIBE LIST */

@media screen and (min-width: 800px) {
  .subscriptionList {
    width: 800px;
  }
}
@media screen and (min-width: 900px) {
  .subscriptionList {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1100px) {
  .subscriptionList {
    padding: 0px;
  }
}
