.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.statBox {
  width: 100%;
  margin-top: 2rem;
  color: var(--col-grey-9);
}

.subscribeListContainer {
  width: 100%;
}

.leftAlign {
  flex-direction: column;
}

@media screen and (max-width: 740px) {
  .subscribeListContainer {
    display: none;
  }
}

.textContainer {
  margin-top: 1rem;
}

.textContainer img {
  width: 100%;
  height: auto;
}

.playSpan {
  margin-left: 1rem;
  cursor: pointer;
}

.textContainer p,
.textContainer h1,
.textContainer h2,
.textContainer h3,
.textContainer ul {
  margin-top: 1.6rem;
}

.textContainer li {
  margin-left: 3rem;
}

.textContainer h1:first-of-type {
  margin-top: 0;
}

.showNotes {
  margin-top: 1rem;
}

.ctaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 740px) {
  .headerContainer {
    flex-basis: 160px;
    flex-grow: 1;
  }
  .textContainer {
    margin-top: 0;
    margin-left: 3rem;
    flex-basis: 290px;
    flex-grow: 1;
  }
}

.mailingListCtaContainer,
.patreonCtaContainer {
  margin: 4rem 0rem;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .mailingListCtaContainer,
  .patreonCtaContainer {
    max-width: 48%;
  }
}
