.breadcrumbsContainer {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbsContainer li {
  margin-right: 0.5rem;
}

.breadcrumbsContainer li:last-of-type {
  margin-right: 0rem;
}

.link {
  color: var(--col-orange);
}
