.headerContainer {
  display: flex;
}

.logoContainer {
  flex-basis: 100;
}

.headerTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  z-index: 1;
}

.title {
  text-transform: uppercase;
}
