.container {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerWidth {
  width: 100%;
}

.toggleContainer {
  display: flex;
  justify-content: flex-end;
}

.toggleButton {
  color: var(--col-grey-3);
  padding: 0.5rem 1rem;
  background-color: var(--col-grey-11);
  border-radius: 5px 5px 0px 0px;
  min-width: 80px;
  text-align: center;
}

.playerContainer {
  padding: 1rem;
  background-color: var(--col-grey-11);
}

.drawerVisible {
  bottom: 0px;
}

.drawerInvisible {
  bottom: -224px;
}

.drawerSlidingUp {
  animation-name: slidingUp;
  animation-duration: 500ms;
}

.drawerSlidingDown {
  animation-name: slidingDown;
  animation-duration: 500ms;
}

@keyframes slidingDown {
  from {
    bottom: 0;
  }
  to {
    bottom: -224px;
  }
}

@keyframes slidingUp {
  from {
    bottom: -224px;
  }
  to {
    bottom: 0;
  }
}

@media screen and (min-width: 550px) {
  .containerWidth {
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  .containerWidth {
    max-width: 836px;
  }
}
@media screen and (min-width: 1100px) {
  .containerWidth {
    max-width: 1036px;
  }
}
