.inputContainer {
  margin: 3rem 0rem;
  display: flex;
  padding: 0.5rem 0rem;
}

.formInput {
  padding: 1rem;
  font-size: 1.8rem;
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}
