/* SUBSCRIBE BOX */

.subscriptionList {
  flex-grow: 1;
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.subscriptionList li {
  margin: 0.5rem 1rem;
}
