.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  text-transform: uppercase;
  justify-content: space-between;
  max-width: 405px;
}

.list li {
  margin: 0.8rem;
}

.list li:first-child,
.list .li:nth-child(3) {
  flex-basis: 40%;
}

.link {
  color: var(--col-grey-5);
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 2px;
  font-size: 2.2rem;
  text-decoration: none;
}

.link:hover {
  color: var(--col-orange);
}

@media screen and (min-width: 360px) {
  .list li:first-child,
  .list .li:nth-child(3) {
    flex-basis: 56%;
  }
}

@media screen and (min-width: 444px) {
  .list li:first-child,
  .list .li:nth-child(3) {
    flex-basis: auto;
  }
}
