.container {
  text-decoration: none;
  padding: 1rem;
  background-color: var(--col-grey-4);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 280px;
  margin-top: 1rem;
}

.container p {
  margin-left: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1px;
}
