.container {
  cursor: pointer;
}

.cls-1 {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 50px;
}

/* Orange Options */

.orangeStroke {
  stroke: var(--col-orange);
}

.orangeFill {
  fill: var(--col-orange);
}

/* Dark Options */

.darkStroke {
  stroke: var(--col-grey-11);
}

.darkFill {
  fill: var(--col-grey-11);
}

/* Light Options */

.lightStroke {
  stroke: var(--col-light-4);
}

.lightFill {
  fill: var(--col-light-4);
}
