.title {
  margin-top: 1rem;
}

.socialContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--col-grey-10);
  margin-top: 1rem;
}

.copyright {
  margin-top: 4rem;
  text-align: center;
  color: var(--col-grey-8);
}
