.title {
  margin-top: 1rem;
}

.socialContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--col-grey-10);
  margin-top: 1rem;
}

.copyright {
  margin: 4rem 0rem 6rem 0rem;
  text-align: center;
  color: var(--col-grey-4);
}
