.title {
  margin-top: 2rem;
}

.carouselContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.episodeCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--col-grey-5);
  border-radius: 2px;
}

.episodeContent {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.date {
  text-align: right;
  color: var(--col-grey-9);
}

@media screen and (min-width: 585px) {
  .cardContent {
    flex-basis: 245px;
  }

  .episodeContent {
    flex-grow: 1;
  }
}

@media screen and (min-width: 900px) {
  .carouselContainer {
    display: flex;
    flex-direction: row;
  }

  .episodeCard {
    margin-right: 1.5rem;
    flex: 1 1 30%;
  }

  .episodeCard:last-child {
    margin-right: 0rem;
  }
}
