:root {
  --col-orange: #d15d27;
  --col-grey-1: #faf9f9;
  --col-grey-2: #f0edec;
  --col-grey-3: #e5e0de;
  --col-grey-4: #d8d2cf;
  --col-grey-5: #cbc2be;
  --col-grey-6: #bdb1ab;
  --col-grey-7: #ac9d96;
  --col-grey-8: #98857d;
  --col-grey-9: #7b6860;
  --col-grey-10: #564942;
  --col-grey-11: #2e2927;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--grey-900);
  font-size: 10px;
  line-height: 1.5;
  height: 100%;
}

p,
li {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

a {
  color: var(--col-orange);
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
