.title {
  margin-top: 2rem;
}

.carouselContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.episodeCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--col-grey-5);
  border-radius: 2px;
}

.episodeContent {
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.footerContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.date {
  text-align: right;
  flex-grow: 1;
  color: var(--col-grey-10);
}

.episodeContent p {
  margin-top: 2rem;
}

@media screen and (min-width: 100px) {
  .albumArtContainer {
    flex-grow: 1;
  }
}

@media screen and (min-width: 585px) {
  .cardContent {
    flex: 0 0 245px;
  }

  .episodeContent {
    margin: 0rem 1rem 0.5rem 1rem;
    flex-grow: 1;
  }
}

@media screen and (min-width: 900px) {
  .cardContent {
    flex-basis: auto;
  }

  .carouselContainer {
    display: flex;
    flex-direction: row;
  }

  .episodeCard {
    margin-right: 1.5rem;
    flex: 1 1 30%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .episodeCard:last-child {
    margin-right: 0rem;
  }

  .episodeContent {
    margin: 1rem 0.5rem;
  }

  .description {
    flex-grow: 1;
  }

  .albumArtContainer {
    flex-grow: 0;
  }
}
