.cls-1 {
  fill: #fff;
}
.cls-2 {
  fill: #9b9b9b;
}
.cls-3 {
  fill: #ec8900;
}
.cls-4 {
  fill: #fac60f;
}
.cls-5 {
  fill: #630069;
}
.cls-6 {
  fill: #3499cc;
}
.cls-7 {
  fill: #c4331a;
}
.cls-8 {
  fill: none;
  stroke: #9b9b9b;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}
